
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: white;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    justify-content: center;
}

.navwrap{
    width: 90%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos{
    display: inline-flex;
    align-items: center;
}

.logos img{
    height: 2em;
    object-fit: scale-down;
    border-right: 1pt solid #8e8e8e;
    padding-right: 10%;
}

.logos img:last-child{
    border-right:none;
    padding-right: 0;
    padding-left: 10%;
}


.header ul{
    list-style: none;
    display: inline-flex;
}

.search i {
    position: absolute;
}
  
.search {
    align-content: center;
    width: 260px;
}

.field::placeholder{
    color: #8e8e8e;
}

input:focus{
    background-color: #d6d6d6;
    border-color: black;
}
  
.fa-magnifying-glass {
    padding: 10px;
    color: #8e8e8e;
    min-width: 30px;
}
  
.field {
    width: 100%;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    text-align: left;

}

.header li{
    padding: 30px;
    position: relative;
   align-content: center;
}


body{
    background-color: #F9F9F9;
    width: 100%;
}

.body{
    width: 55%;
    margin-left: 5%;
    margin-right: 0;
    padding-top: 7em;
    float: left;
}

.post{
    background-color: white;
    border-radius: 5px;
    border: 1pt solid #d6d6d6;
    margin-left: 100px; 
    margin-bottom: 50px;
}

.post .profile{
    padding: 20px;
    display: inline-flex;
    align-items: center;
}

img.profpic{
    margin-right: 5%;
}

.picture{
    object-fit: cover;
    object-position: left center;
    width: 100%;
    height: 800px;
}

.icons img{
    padding-left: 20px;
    padding-top: 5px;
}

.post #save{
    padding-left: 74%;
    padding-right: 20px;
}

.likecount{
    padding-top: 10px;
    padding-left: 20px;
}

.caption{
    display: inline-flex;
    align-items: center;
    font-size: 14pt;
    width: 90%;
    padding: 20px 20px 10px 20px;
}

.caption h1{
    padding-right: 1%;
}

.timestamp h2{
    padding-left:20px;
    padding-bottom: 10px;
    font-size: 12pt;
    font-weight: 200;
    color: #8e8e8e;
}

.body hr{
    margin-left: 20px;
    margin-right:20px;
    border: none;
    border: 1px solid #EDECED;
}

.add-comment{
    display:inline-flex;
    width: 100%;
    padding: 25px 20px 25px 20px;
}
.add-comment h3{
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #8e8e8e;
}

.add-comment h1{
    width: 100%;
    text-align: right;
}

.sidebar{
    width: 27%;
    margin-right: 100px;
    padding-left: 30px;
    padding-top: 7em;
    float: left;
}

.body .profpic{
    object-fit: cover;
    object-position: left center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.suggested{
    background-color: white;
    border-radius: 5px;
    border: 1pt solid #d6d6d6;
    margin-left: 100px; 
    margin-bottom: 50px;
    position: relative;
}

.title{
    display: inline-flex;
    padding-top: 30px;
    width:100%;  
}

.title h1{
    width: 100%;
    margin-left: 25px;
    text-align: left;
    font-size: 16pt;
    color: #8e8e8e;
}

.title h2{
    width: 100%;
    margin-right: 25px;
    text-align: right;
    font-size: 14pt;
    color: #308dee;
}


.accounts{
    display: inline-flex;
}

.sugprof{
    height: 298px;
    width: 249px;
    padding:50px 25px 50px 25px;
    margin: 22px;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    position: relative;
}

.sugprof .profpic{
    object-fit: cover;
    object-position: left center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.sugprof .fa-x{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #8e8e8e;
}

.sugprof h2{
    padding-top: 10px;
    font-size:14pt;
}

.sugprof h3{
    padding-top: 5px;
    font-size:12pt;
    font-weight:200;
    color: #8e8e8e;
}

.follow{
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px 60px 10px 60px;
    background-color: #308dee;
    font-size: 12pt;
    color: white;
}

.arrow{
    position: absolute;
    top: 200px;
    right: 4px;
    font-size: 30pt;
    color: rgba(0, 0, 0, 0.5)
}


.sidebar .myprofile{
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
}

.mynames h3{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #8e8e8e;
}

.myprofile .profpic{
    object-fit: cover;
    object-position: left center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.titles{
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin: 20px, 0, 20px, 0;
}
.titles h2{
    width: 100%;
    text-align: left;
    font-size: 14pt;
    color: #8e8e8e;
    margin: 20px, 0, 20px, 0;
}
.titles h3{
    width: 100%;
    text-align: right;
    font-size: 12pt;
    margin: 20px, 0, 20px, 0;
}

.storyprofs .profpic{
    object-fit: cover;
    object-position: left center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.sidebar hr{
    margin-bottom: 20px;
    border: none;
    border: 1px solid #EDECED;
}

.storyprofs{
    margin-top: 20px;
    height: 325px;
    overflow: auto;
}

  
 .storyprof li{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
  }

  
  .storyprof p{
    color: #8e8e8e;
    margin-left: 15px;
    padding-top: 5px;
    font-size: 10pt;
  }

  .storyprof strong{
    margin-left: 15px;
  }


  h1{
      font-size: 14pt;
  }

  .footer{
    padding-top: 20px;
    margin-right: 150px;
  }

  .footer p{
      display:inline;
      color: #c0c0c0;
  }

 a{
     text-decoration: none;
     color:#c0c0c0;
  }

  a:hover{
      text-decoration:underline;
  }

  .fa-certificate{
      color:#308dee;
  }

  .copyright{
      margin-top: 20px;
      color: #c0c0c0;
  }



